In [133]:
import pandas as pd
import json
import requests

● Get all Pokemons whose spawn rate is less than 5%
● Get all Pokemons that have less than 4 weaknesses
● Get all Pokemons that have no multipliers at all
● Get all Pokemons that do not have more than 2 evolutions
● Get all Pokemons whose spawn time is less than 300 seconds.
Note - spawn time format is "05:32”, so assume “minute: second” format and perform the analysis.
● Get all Pokemon who have more than two types of capabilities

In [134]:
df=pd.read_excel("D:\IA\pokemon.xlsx")
df.head(3)

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,NaN,"['Fire', 'Ice', 'Flying', 'Psychic']",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."

In [135]:
df['spawn_time'].isnull().sum()

6

In [136]:
df['spawn_time'].str.split(":")

0      [20, 00]
1      [07, 00]
2      [11, 30]
3      [08, 45]
4      [19, 00]
         ...
146    [06, 41]
147    [11, 57]
148    [23, 38]
149         NaN
150         NaN
Name: spawn_time, Length: 151, dtype: object

In [137]:
for i in range(0, len(df)):
    if pd.isnull(df['spawn_time']).iloc[i]:
        continue
    else:
        df.loc[i,'min']= df['spawn_time'].str.split(":")[i][0]
        df.loc[i, 'sec']=df['spawn_time'].str.split(":")[i][1]

In [138]:
df.head(3)

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution,min,sec
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN,20,00
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]",07,00
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,NaN,"['Fire', 'Ice', 'Flying', 'Psychic']",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ...",11,30

In [139]:
df['min']=pd.to_numeric(df['min'])
df['sec']=pd.to_numeric(df['sec'])

In [140]:
df['total_sec']=(df['min']*60)+ df['sec']

In [141]:
df['spawn_rate']=(df['spawn_chance']*df['avg_spawns'])*100/df['total_sec']

In [142]:
pd.set_option("display.max_columns", None)
df.head(3)

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution,min,sec,total_sec,spawn_rate
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN,20.0,0.0,1200.0,3.967500
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]",7.0,0.0,420.0,0.042000
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,NaN,"['Fire', 'Ice', 'Flying', 'Psychic']",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ...",11.0,30.0,690.0,0.004188

In [143]:
#Get all Pokemons whose spawn rate is less than 5%
df_pokemon=df[ df['spawn_rate']<5]
len(df_pokemon)

96

In [144]:
import ast

In [145]:
def convert_to_list(string):
    try:
        return ast.literal_eval(string)
    except (SyntaxError, ValueError):
        return []

df['weaknesses'] = df['weaknesses'].apply(convert_to_list)

In [146]:
pd.set_option("display.max_columns",None)
df.head(3)

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution,min,sec,total_sec,spawn_rate
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN,20.0,0.0,1200.0,3.967500
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]",7.0,0.0,420.0,0.042000
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,NaN,"[Fire, Ice, Flying, Psychic]",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ...",11.0,30.0,690.0,0.004188

In [147]:
df['number_of_weakness']=None

In [150]:
for i in range(len(df)):
        if pd.isnull(df['weaknesses']).iloc[i]:
                df.loc[i,'number_of_weakness']=0   
        else:
               df.loc[i, 'number_of_weakness']=len(df['weaknesses'].iloc[i])
#df['number_of_weaknessses']
df[df['number_of_weakness']<4]

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution,min,sec,total_sec,spawn_rate,number_of_weakness
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,['Fire'],0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.2530,25.30,08:45,[1.65],"[Water, Ground, Rock]","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",NaN,8.0,45.0,525.0,1.219219,3
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.0120,1.20,19:00,[1.79],"[Water, Ground, Rock]","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]",19.0,0.0,1140.0,0.001263,3
5,6,6,Charizard,http://www.serebii.net/pokemongo/pokemon/006.png,"['Fire', 'Flying']",1.70 m,90.5 kg,Charmander Candy,NaN,Not in Eggs,0.0031,0.31,13:34,NaN,"[Water, Electric, Rock]",NaN,"[{'num': '004', 'name': 'Charmander'}, {'num':...",13.0,34.0,814.0,0.000118,3
6,7,7,Squirtle,http://www.serebii.net/pokemongo/pokemon/007.png,['Water'],0.51 m,9.0 kg,Squirtle Candy,25.0,2 km,0.5800,58.00,04:25,[2.1],"[Electric, Grass]","[{'num': '008', 'name': 'Wartortle'}, {'num': ...",NaN,4.0,25.0,265.0,12.694340,2
7,8,8,Wartortle,http://www.serebii.net/pokemongo/pokemon/008.png,['Water'],0.99 m,22.5 kg,Squirtle Candy,100.0,Not in Eggs,0.0340,3.40,07:02,[1.4],"[Electric, Grass]","[{'num': '009', 'name': 'Blastoise'}]","[{'num': '007', 'name': 'Squirtle'}]",7.0,2.0,422.0,0.027393,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,146,146,Moltres,http://www.serebii.net/pokemongo/pokemon/146.png,"['Fire', 'Flying']",2.01 m,60.0 kg,None,NaN,Not in Eggs,0.0000,0.00,NaN,NaN,"[Water, Electric, Rock]",NaN,NaN,NaN,NaN,NaN,NaN,3
146,147,147,Dratini,http://www.serebii.net/pokemongo/pokemon/147.png,['Dragon'],1.80 m,3.3 kg,Dratini Candy,25.0,10 km,0.3000,30.00,06:41,"[1.83, 1.8399999999999999]","[Ice, Dragon, Fairy]","[{'num': '148', 'name': 'Dragonair'}, {'num': ...",NaN,6.0,41.0,401.0,2.244389,3
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,['Dragon'],3.99 m,16.5 kg,Dratini Candy,100.0,Not in Eggs,0.0200,2.00,11:57,[2.05],"[Ice, Dragon, Fairy]","[{'num': '149', 'name': 'Dragonite'}]","[{'num': '147', 'name': 'Dratini'}]",11.0,57.0,717.0,0.005579,3
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,['Psychic'],2.01 m,122.0 kg,None,NaN,Not in Eggs,0.0000,0.00,NaN,NaN,"[Bug, Ghost, Dark]",NaN,NaN,NaN,NaN,NaN,NaN,3
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,['Psychic'],0.41 m,4.0 kg,None,NaN,Not in Eggs,0.0000,0.00,NaN,NaN,"[Bug, Ghost, Dark]",NaN,NaN,NaN,NaN,NaN,NaN,3

In [151]:
#Get all Pokemons that have no multipliers at all
def convert_to_list(string):
    try:
        return ast.literal_eval(string)
    except (SyntaxError, ValueError):
        return []

df['multipliers'] = df['multipliers'].apply(convert_to_list)

In [152]:
len(df[df['multipliers'].apply(lambda x: len(x)==0)])

81

In [153]:
df.head(3)

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution,min,sec,total_sec,spawn_rate,number_of_weakness
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN,20.0,0.0,1200.0,3.967500,4
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]",7.0,0.0,420.0,0.042000,4
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,[],"[Fire, Ice, Flying, Psychic]",NaN,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ...",11.0,30.0,690.0,0.004188,4

#Get all Pokemons that do not have more than 2 evolutions, converting the column to list values

In [154]:
def convert_to_list(string):
    try:
        return ast.literal_eval(string)
    except (SyntaxError, ValueError):
        return []

df['next_evolution'] = df['next_evolution'].apply(convert_to_list)

In [155]:
df.head(2)

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution,min,sec,total_sec,spawn_rate,number_of_weakness
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN,20.0,0.0,1200.0,3.9675,4
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]",7.0,0.0,420.0,0.0420,4

In [157]:
#checking for null values in the column and then transforming them 
for i in range(len(df)):
    if pd.isnull(df['next_evolution']).iloc[i]:
        df.loc[i,'total_evolutions'] =0
    else:
        df.loc[i,'total_evolutions']=len(df['next_evolution'].iloc[i])

In [175]:
pd.set_option("display.max_columns",None)
df.head(3)

df['total_evolutions']=df['total_evolutions'].astype(int)

In [183]:
df['total_evolutions'].unique()

array([2, 1, 0, 3])

In [194]:

filtered_df=df[df['total_evolutions']<=2]
pokemon_with_less_than_2evolutions=len(filtered_df)
pokemon_with_less_than_2evolutions

150

# Get all Pokemons whose spawn time is less than 300 seconds.

In [193]:
df['total_sec']=df['total_sec'].astype('Int64')
spawn_time_less_than_300seconds=len(df[df['total_sec']<300])
spawn_time_less_than_300seconds

75

# Get all Pokemon who have more than two types of capabilities

In [195]:
df.head(3)

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution,min,sec,total_sec,spawn_rate,number_of_weakness,total_evolutions
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",NaN,20.0,0.0,1200,3.967500,4,2
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]",7.0,0.0,420,0.042000,4,1
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.017,1.7,11:30,[],"[Fire, Ice, Flying, Psychic]",[],"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ...",11.0,30.0,690,0.004188,4,0

In [208]:
df['type'].unique()

array(["['Grass', 'Poison']", "['Fire']", "['Fire', 'Flying']",
       "['Water']", "['Bug']", "['Bug', 'Flying']", "['Bug', 'Poison']",
       "['Normal', 'Flying']", "['Normal']", "['Poison']", "['Electric']",
       "['Ground']", "['Poison', 'Ground']", "['Poison', 'Flying']",
       "['Bug', 'Grass']", "['Fighting']", "['Water', 'Fighting']",
       "['Psychic']", "['Water', 'Poison']", "['Rock', 'Ground']",
       "['Water', 'Psychic']", "['Water', 'Ice']", "['Ghost', 'Poison']",
       "['Grass', 'Psychic']", "['Ground', 'Rock']", "['Grass']",
       "['Ice', 'Psychic']", "['Water', 'Flying']", "['Rock', 'Water']",
       "['Rock', 'Flying']", "['Ice', 'Flying']",
       "['Electric', 'Flying']", "['Dragon']", "['Dragon', 'Flying']"],
      dtype=object)

In [211]:
import json

def convert_to_list(string):
    try:
        return json.loads(string)
    except (json.JSONDecodeError, TypeError):
        return []
    
for i in range(len(df)):
    if df['type'].iloc[i]==None:
        df.loc[i,'converted_type_col']=0
    else:
        converted_list=convert_to_list(df['type'].iloc[i])
        df.loc[i,'converted_type_col']=converted_list

ValueError: Must have equal len keys and value when setting with an iterable