1. Write a Python program to find sum of elements in list?
2. Write a Python program to Multiply all numbers in the list?
3. Write a Python program to find smallest number in a list?
4. Write a Python program to find largest number in a list?
5. Write a Python program to find second largest number in a list?
6. Write a Python program to find N largest elements from a list?
7. Write a Python program to print even numbers in a list?
8. Write a Python program to print odd numbers in a List?
9. Write a Python program to Remove empty List from List?
10. Write a Python program to Cloning or Copying a list?
11. Write a Python program to Count occurrences of an element in a list?

In [1]:
#solution to 1
a_list=[1,2,3,56,7,8,8,2,2,4,0,0,6,6,6,77,9]
sum=0
for i in a_list:
  sum+=i
print(sum)

197

In [3]:
#solution to 2
a_list=[1,2,3,56,7,8,8,2,2,46,6,6,77,9]
product=1
for i in a_list:
  product=product*i
print(product)

690988548096

In [12]:
#soltuion to 3: smallest number 
a_list=[1,2,3,56,7,8,8,2,2,4,-100,6,6,6,77,-234]
minimum=0
for i in a_list:
  if i < minimum:
    minimum=i
  else:
    pass
print(minimum)

-234

In [16]:
#solution to 4: largest number
a_list=[1,2,3,56,7,8,8,2,2,46,6,6,77,9]
maximum=0
for i in a_list:
  if i>maximum:
    maximum=i
  else:
    pass
print(maximum)

77

In [25]:
#solution to 5 : second largest number 
a_list=[1,2,3,56,7,8,8,2,2,46,6,6,77,9]
maximum=max(a_list)
a_list.remove(max(a_list))
print(max(a_list))
# 2 methods :
#way 1: pop the max element and then find the largest element in the updated list

56

In [32]:
#solution to 6: n largest elements in the list 
a_list=[1,2,3,56,7,8,8,2,2,46,6,6,77,9]
element_list=[]
n=int(input("how many numbers do you want ?"))
def get_elements():
  for i in range(n):
    ele = max(a_list)
    element_list.append(ele)
    a_list.remove(ele)
  return element_list

get_elements()

how many numbers do you want ?5

[77, 56, 46, 9, 8]

In [34]:
#solution to 7: even numbers of list 
a_list=[1,2,3,56,7,8,8,2,2,46,6,6,77,9]
element_list=[]
def get_elements():
  for i in a_list:
    if i%2==0:
      element_list.append(i)
  return element_list

get_elements()

[2, 56, 8, 8, 2, 2, 46, 6, 6]

In [35]:
#solution to 8: odd numbers of list 
a_list=[1,2,3,56,7,8,8,2,2,46,6,6,77,9]
element_list=[]
def get_elements():
  for i in a_list:
    if i%2!=0:
      element_list.append(i)
  return element_list

get_elements()

[1, 3, 7, 77, 9]

In [38]:
#solution to 9
#remove empty list from list 
a_list=[1,2,3,56,7,8,8,2,2,[], 46,6,6,77,9,[],1]
element_list=[]
def get_elements():
  for i in a_list:
    if type(i)==list:
      a_list.remove(i)
  return a_list

get_elements()

[1, 2, 3, 56, 7, 8, 8, 2, 2, 46, 6, 6, 77, 9, 1]

In [43]:
#solution to 11
#count occurrences of elements in list 
elements=[1,2,3,5,6,7,3,3,8,8,2,2,4,10,10,1,1,1,6,6,6,7,7,8,8,8,8,8,8]
ele_count={}
def count_of_numbers():
  for ele in elements:
    if ele in ele_count:
      ele_count[ele]+=1
    else:
      ele_count[ele]=1
  return ele_count

count_of_numbers()

{1: 4, 2: 3, 3: 3, 5: 1, 6: 4, 7: 3, 8: 8, 4: 1, 10: 2}

In [44]:
#clone a list or copy a list
elements=[1,2,3,5,6,7,3,3,8,8,2,2,4,10,10,1,1,1,6,6,6,7,7,8,8,8,8,8,8]
x=elements.copy()
print(x)

[1, 2, 3, 5, 6, 7, 3, 3, 8, 8, 2, 2, 4, 10, 10, 1, 1, 1, 6, 6, 6, 7, 7, 8, 8, 8, 8, 8, 8]