In [21]:
import mysql.connector
#imported to create an sql connection with python

In [22]:
#when the userid and password is correct for your Mysql access, it won't show any error 
database_connector=mysql.connector.connect(
    host= "localhost",
    user='root',
    password= "Datascience@22"
                                           )

In [23]:
print(database_connector)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F2796C9270>

In [24]:
database_connector.is_connected()

True

In [25]:
#this acts as a pointer in sql database and performs the actions 
curser=database_connector.cursor()
print(curser)

CMySQLCursor: (Nothing executed yet)

In [26]:
# write your sql query under curser.execute() statement
curser.execute("show databases")
for i in curser:
    print(i)

('customers',)
('discord',)
('employees',)
('gdb023',)
('gdb041',)
('gdb056',)
('ig_clone',)
('information_schema',)
('lazone',)
('moviesdb',)
('mysql',)
('orders',)
('performance_schema',)
('sys',)

In [31]:
#shows current database being used 
database_connector.database

'orders'

In [32]:
#here, we have brought our pointer to the location from where we want to fetch the data
curser.execute("select * from orders.products ")

In [33]:
# Every record is stored as a tuple in database and that is why when we access it, it prints in tuple form 
#now, we are printing the data present in respective column
for i in curser:
    print(i)

('ani', 9)
('ani', 9)
('mani', 100)

In [ ]:
#use a particular database 
curser.execute("use moviesdb")
curser.fetchall()

[]

In [34]:
#to see all tables in a particular database 
curser.execute("show tables")

In [35]:
for i in curser:
    print(i)

('products',)

In [36]:
#to see changes made to the table from python
database_connector.commit()

In [40]:
curser.execute(" insert into orders.products Values ('manimani' , 100), ('animani', 200)")
database_connector.commit()

In [41]:
curser.execute(" select * from orders.products")

In [43]:
for i in curser:
    print(i)

('ani', 9)
('mani', 100)
('manimani', 100)
('animani', 200)
('manimani', 100)
('animani', 200)